* {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3293d2;
}

h1 {
  text-align: center;
  color: #333;
  padding: 0 0.5em;
}

.container,
.wrapper {
  margin: auto;
  min-width: 50%;
}

.container {
  display: block;
  margin: 9em auto;
}

.wrapper {
  background-color: #2980b9;
  border: 3px solid #000;
  box-shadow: 0.5em 0.5em;
}

img {
  display: block;
  margin: 1em auto;
  border: 3px solid #000;
  border-radius: 120px;
  background-color: #1d5a81;
}

#username,
#password {
  display: block;
  width: 80%;
  padding: 0.5em;
  margin: 0 auto;
  text-align: center;
  background-color: rgb(200, 200, 200);
}

#username:focus,
#password:focus {
  background-color: #fff;
}

#register,
#logIn,
#newAccount,
#back,
button {
  padding: 0.5em;
  margin: 0.5em;
  background-color: rgb(200, 200, 200);
}

#register:active,
#logIn:active,
#newAccount:active,
#back:active,
button:active {
  background-color: #fff;
}

#register,
#back,
#stop {
  float: right;
}

#error {
  text-align: center;
  padding-top: 0.5em;
  color: rgb(255, 200, 0);
}

#logout {
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5em;
}

canvas {
  border: 3px solid #333;
  padding: 10px;
  margin: 0 auto;
  margin-bottom: 1em;
  display: block;
  width: max-content;
}

#displayColor {
  font-size: 24px;
  text-align: center;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .container,
  .wrapper {
    min-width: 70%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .container,
  .wrapper {
    min-width: 60%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .container,
  .wrapper {
    min-width: 50%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .container,
  .wrapper {
    max-width: 60%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .container,
  .wrapper {
    max-width: 60%;
  }
}
